[submodule "crawler"]
	path = crawler
	url = https://github.com/Radiumy/Academic_Search.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/202301-Belle/Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/sihan-shen/backend.git
