[submodule "crawler"]
	path = crawler
	url = https://github.com/Radiumy/Academic_Search.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/202301-Belle/Frontend.git
[submodule "common"]
	path = common
	url = https://github.com/cyy-Michael/common
[submodule "backend"]
	path = backend
	url = https://github.com/cyy-Michael/backend.git
